body{
    margin: 0;
    padding: 0;
}

#navvy{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol{
    list-style: none;
}

.nav li a {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav li a:hover{
    background-color: aqua;
}

.nav > li{
    float:left;
}

.nav li ul{
    display: none;
    position: absolute;
}

.nav li:hover > ul{
    display:block;
}

.nav li ul li{
    position:relative;
    background-color: black;
    color: white;
}

.carrousel{
    width: 90%;
    max-width: 120em;
    padding: 2em;
    background-color: aqua;
}

.carrousel .grande{
    width: 200%;
    padding: 2em;
    background-color: orange;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    transition: all .5s ease;
    transform: translateX(0%);
}

.carrousel .img{
    width: calc( 100% / 2);
    background-color: lime;
}

.carrousel .puntos{
    width: 100%;
    background-color: red;
    padding: 1em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.carrousel .punto{
    width: 2em;
    height: 2em;
    background-color: blue;
    margin: 1em;
}

.carrousel .punto.activo{
    background-color: orangered;
}